name: Setup SSHX (MacOS)

on:
  workflow_dispatch:   # Manual run button ke liye
  push:
    branches:
      - main

jobs:
  setup-sshx:
    runs-on: macos-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install curl & bash
        run: brew install curl bash

      - name: Install SSHX
        run: |
          curl -sSf https://sshx.io/get -o sshx-install.sh
          chmod +x sshx-install.sh
          ./sshx-install.sh

      - name: Run SSHX (Show Link)
        run: sshx

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: sshx-install-script
          path: sshx-install.sh
